name: Build and Release App Installers

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    runs-on: ${{ matrix.os }}

    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Vite Build (Renderer)
        run: npm run build

      - name: Build and Publish Installer for ${{ matrix.os }}
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            npx electron-builder --win --publish always
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            npx electron-builder --mac --publish always
          else
            npx electron-builder --linux --publish always
          fi
